*{
    margin: 0px;
    padding: 0px;
}

.productostext{
    color: #fff;
    font-size: 25px;
    text-align: center;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color:#1b1b1b;
    font-size: 32px;
    display: inline-block;
}

h4{
  font-size: 40px;
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

p{
    color: rgb(204, 204, 204);
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
  

.productos{
    background: #313131;
    text-align: center;
}


  /* CARTAS PRODUCTOS */
.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    background: #444;
}

.card1:hover{
    transform: scale(1.03);
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
  
.card1 {
    background-color: #333;
    width: 300px;
    border-radius: 8px;
    padding: 0.5rem;
    color: rgb(0, 0, 0);
    box-shadow: 0 .50rem .80rem rgb(0, 0, 0),
      0 0 7rem rgba(0, 0, 0, 0);
    text-align: center;
}
  
.cardtitle {
      color: #fff;
      font-weight: 800;
      letter-spacing: 0.01em;
      text-align: center;
}
    
.cardcontent {
      text-align: center;
}

.botton-pedido{
        color: #3a3a3a;
        text-decoration: none;
        font-size: 26px;
        font-family: Arial, Helvetica, sans-serif;
        background: #00ffb3;
        border-radius: 5px 5px 5px 5px;
}

.botton-pedido:hover{
    background: #ff8800;
    padding: 2px;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

  
  @keyframes LineFadeIn {
    0% { opacity: 0; d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 "); stroke: #fff; }
    50% { opacity: 1; d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300"); stroke: #888BFF; }
    100% { opacity: 1; d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400"); stroke: #545581; }
  }
  
  @keyframes ContentFadeIn {
    0% { transform: translateY(-1rem); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
  
  @keyframes ImageFadeIn {
    0% { transform: translate(-.5rem, -.5rem) scale(1.05); opacity: 0; filter: blur(2px); }
    50% { opacity: 1; filter: blur(2px); }
    100% { transform: translateY(0) scale(1.0); opacity: 1; filter: blur(0); }
  }

.textos{
    text-align: center;
    color: rgb(202, 202, 202);
}

/* ICONOS CONTACTOS */
.icongmail{
    width: 350px;
    height: 50px;
    padding: 10px;
}
.icontel{
    width: 220px;
    height: 60px;
    padding: 10px;
}


/* PRODUCTOS/PEDIDOS */
input{
    color: #000000;
    text-align: center;
    transition-duration: 1s;
}

.bodypedidos{
    background: #4d4d4dd5;
}

.pedidos{
    color: #000000;
    text-align: center;
    transition-duration: 1s;
    margin-left: 200px;
    margin-right: 200px;
}

input, label{
    width: 350px;
    height: 29px;
    font-size: 25px;
    color: #000000;
    transition-duration: 1s;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
}

select{
    color: #000000;
    height: 30px;
    font-size: 23px;
}

.dia{
    color: #666666;
}

.enviar{
    text-align: center;
    color: #000000;
}

.enviar:hover{
    transform: scale(1.03);
    transition-duration: 0.05s;
    transition-timing-function: linear;
} 


/* NAV */
header nav {
    background:  rgb(122, 54, 8);
}

header {
    width: 100%;
}

.imagendecabeza {
    width: 250px;
    height: 85px;
    float: left;
    padding-top: 3px;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.descripcionindex{
    text-align: center;
}

.infocovid{
    text-align: center;
}

.pedidosindex{
    text-align: center;
}

.entregasindex{
    text-align: center;
}

.menubar{
    display: none;

}

header nav ul {
    overflow: hidden;
    list-style: none;
}

.lif{
    float: right;
    padding-top:25px;
    margin-right: 25px;
}

header nav ul li a{
    color:#fff;
    padding: 5px;
    display: block;
    text-decoration: none;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    animation: glow 2s infinite alternate;

}

.imgpedidos{
    width: 375px;
}

.lineaseparadora{
    background: #1b1b1b;
    padding: 0px;
}

@keyframes glow{
    to{
        text-shadow: 0 0 15px rgba(255, 255, 255, 0.568);
        color: rgb(255, 255, 255);
    }
}

header nav ul li a span{
    padding-right: 5px;
    color: #fff;
    font-size: 32px;
}

span{
    font-size: 35px;
    padding: 10px;
}

header nav ul li a:hover{
    background: rgba(185, 83, 0, 0.452);
    text-decoration: none;
    color: #fff;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.075);
}

footer{
    padding: 20px;
    background: #000;
}

.acercademi p{
    color: #b6b6b6;
}

.acercademi p a{
    color: rgb(109, 190, 150);
}

.acercademi p a:hover{
    color: #00fff2;
}

/* CELULAR */

@media screen and ( max-width: 1105px){
    header nav{
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(22, 22, 22, 0.959);
        display: none;
        position: relative;
    }

    
    
    .lif{
        display: block;
        float: none;
        border-bottom: white;

    }

    .lidif{
        display: none;
    }

    .menubar{
        display: inline-block;
        width: 100%;
        background: rgb(122, 54, 8);
        font-size: 40px;

    }
    .imagendecabeza{
        float: none;
    }

    .menubar .bt-menu{
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }


    header nav ul li a:hover{
        background: rgba(168, 76, 0, 0.452);
    }
    
    .menubar span{
        float: right;
        font-size: 40px;
        margin-top:30px;
        color: #fff;
    }

    .pedidos{
        text-align: center;
        margin: 0px;
        padding: 0px;
    }

    /* ICONOS CONTACTOS */
    .icongmail{
        width: 340px;
        height: 50px;
    }
    .icontel{
        width: 220px;
        height: 60px;
    }

    .card {
        position: relative;
        background: #333;
        width: 250px;
        border-radius: 8px;
        padding: 0.5rem;
        color: rgb(255, 255, 255);
        box-shadow: 0 .50rem .80rem rgb(0, 0, 0),
          0 0 7rem rgba(0, 0, 0, 0);
        overflow: hidden;
        text-align: center;
      }
      
        image {
          opacity: 1;
          animation: ImageFadeIn .8s 1.4s forwards;
        }
      
        title {
          color: #fff;
          font-weight: 800;
          letter-spacing: 0.01em;
          text-align: center;
        }
        
        content {
          text-align: center;
        }
    
        .botton-pedido{
            color: #3a3a3a;
            text-decoration: none;
            font-size: 26px;
            font-family: Arial, Helvetica, sans-serif;
            background: #00ffb3;
        }
    }

    @media screen and ( max-width: 1000px){
        .imgcarrusel{
            width: 100%;
            height: 210px;
        }
    }